@charset "ISO-8859-1";
.gallery .content h3 {
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}

.gallery .content a {
	text-decoration: none;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.gallery .content  {
	width: 24%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: .4s;
}

.gallery .content:hover {
	box-shadow: 0 0 11px rgba(33, 33, 33, .2);
	transform: translate(0px, -8px);
	transition: .6s;
}

.gallery .content img {
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.gallery .content p {
	text-align: center;
	color: #b2bec3;
	padding: 0 8px;
	font-weight: bold;
}

.gallery .content h6 {
	font-size: 26px;
	text-align: center;
	color: #222f3e;
	margin: 0;
}

.gallery .content button {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0px;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.gallery .content .buy-1 {
	background-color: #2183a2;
}

.gallery .content .buy-2 {
	background-color: #3b3e6e;
}

.gallery .content .buy-3 {
	background-color: #0b0b0b;
}

@media ( max-width : 1000px) {
	.gallery .content {
		width: 46%;
	}
}

@media ( max-width : 750px) {
	.gallery .content {
		width: 100%;
	}
}